body {

	font-family: 'Roboto', sans-serif;
	font-weight: lighter;

}

#title {

	text-align: center;
	font-weight: lighter;
	font-size: 70px;
	color: green;

}

ul {
	list-style-type: none;
	text-decoration: none;
	padding-top: 30px;
}

li {
	display: inline;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	text-decoration: none;

}

li s {
	text-decoration: none;
}

#navContainer {
	padding-top: 130px;
	text-align: center;
}

#gallery {
	line-height: 0;

	-webkit-column-count: 5;
	-webkit-column-gap: 0;

	-moz-column-count: 5;
	-moz-column-gap: 0;

	column-count: 5;
	column-gap: 0;

	text-align: center;

	height: auto;

	margin: auto;

	padding-left: 20%;
}

#subTitle {
	text-align: center;
	padding-top: 50px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#myFace {
	padding: 50px;
	animation: fadeIn 2s;
	float: left;
	width: 512px;
	height: auto;
}

#aboutMeText {
	padding-top: 50px;
	width: 80%;	
	font-size: 1.5em;
}


#gallery img {
	width: 100%;
	height: auto;
	transition: transform .2s;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;

	animation: fadeIn 1s;
	align: left;

}

#gallery img:hover {
	transform: scale(1.1);
}

#pixiApp {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: none;
	z-index: -2;
}

#root {
	z-index: 2;
}
